.copyright {
    font-size: 12px;
    text-align: center;
}

.ui-content {
    text-align: center;
}

.pt-menu .ui-btn {
    cursor: pointer;
    display: inline-block;
    height: 100px;
    margin: 5px !important;
    padding: 10px;
    text-align: center;
    width: 110px;
    /*border-radius: 200px;*/
}

.pt-menu .ui-btn-inner {
    border: 0;
}

.pt-menu .ui-btn img {
    /*height: 50px;*/
}


/* contact page */
#contact .ui-br {
    border: 0;
}

/* form underline bug fix */
.ui-br {
    border-bottom: none !important;
}

/* form errors */
label.error {
    color: red;
    padding-top: .5em;
    vertical-align: top;
    font-weight:bold;
    display: inline-block;
    vertical-align: top;
    margin-left: 22%;
}


/* table styles */
.tablerow {
    display: inline-block;
    width: 100%;
}
.left-table {
    text-align: right;
    width: 25%; float: left;
    padding-right: 2%;
    font-weight: bold;
}
.right-table {
    text-align: left;
    width: 73%; float: left;
}

/* bottom back and next buttons */
.previous-btn {
    float: left;
}
.next-btn {
    float: right;
}

/* toggle buttons styles */
.ui-collapsible-heading-toggle {
    border: none;
}

/* ui component tweaks */
.ui-textalign-left {
    text-align: left;
}

/* portfolio item right button stlye fix */
.portfolio-item .ui-btn-icon-notext {
    padding: 0 !important;
}